/* line 1, sass/main.scss */
body {
  background-color: #222;
  font-family: 'Arvo';
  color: white;
}

/* line 7, sass/main.scss */
.container {
  background-color: #333;
  border-left: 1px dotted #444;
  border-right: 1px dotted #444;
}

/* line 13, sass/main.scss */
h1, h2, h3, h4, h5, h6, a, a:hover {
  color: orange;
}

/* line 17, sass/main.scss */
h1, h2, h3, h4, h5, h6, .fa, #topbar a {
  text-shadow: 2px 2px 0 black;
}

/* line 21, sass/main.scss */
header h2 {
  text-align: center;
}

/* line 25, sass/main.scss */
blockquote {
  border-color: #444;
  color: #ccc;
}

/* line 30, sass/main.scss */
pre {
  background-color: #111;
  color: #ccc;
}

/* line 35, sass/main.scss */
a:hover, a:focus, a:hover i {
  background-color: transparent;
  color: white;
}

/* line 40, sass/main.scss */
a.active {
  color: chocolate;
}

/* line 44, sass/main.scss */
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
/* line 50, sass/main.scss */
.vertical-center * {
  display: flex;
  margin: auto;
}

/* line 56, sass/main.scss */
.loading-spinner {
  z-index: 9000;
}

/* line 60, sass/main.scss */
#topbar {
  font-family: 'Arvo';
  width: 100%;
  text-align: center;
}
/* line 65, sass/main.scss */
#topbar ul {
  float: none;
  display: inline-block;
  font-size: 1em;
}
/* line 70, sass/main.scss */
#topbar ul li a {
  background-color: transparent;
}

/* line 77, sass/main.scss */
#content > footer {
  margin-top: 10em;
}

/* line 83, sass/main.scss */
.locale-switch a {
  color: orange;
  cursor: pointer;
  margin: 0.5ex;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px 0 black;
}
/* line 93, sass/main.scss */
.locale-switch a:hover, .locale-switch a.active {
  color: chocolate;
}

/* line 98, sass/main.scss */
#avatar {
  max-height: 160px;
  max-width: 160px;
}

/* line 103, sass/main.scss */
#bio p {
  text-align: justify;
  margin-top: 1em;
}

/* line 108, sass/main.scss */
#social-links {
  font-size: 3em;
  text-align: center;
}
/* line 112, sass/main.scss */
#social-links a, #social-links a:hover {
  text-decoration: none;
}

/* line 117, sass/main.scss */
.post {
  padding: 2em;
}
/* line 120, sass/main.scss */
.post p {
  text-align: justify;
  text-indent: 1em;
}

/* line 126, sass/main.scss */
.card {
  padding: 1em;
}
/* line 131, sass/main.scss */
.card header h4 aside {
  float: right;
}
/* line 136, sass/main.scss */
.card main {
  text-align: justify;
}
/* line 140, sass/main.scss */
.card footer {
  margin-top: 1em;
}
/* line 143, sass/main.scss */
.card footer span {
  font-size: 0.8em;
  display: inline-block;
}
/* line 147, sass/main.scss */
.card footer span:first-child {
  float: left;
}
/* line 151, sass/main.scss */
.card footer span:last-child {
  float: right;
}
