/* line 1, sass/main.scss */
body {
  font-family: 'Arvo';
  background-color: #333;
  color: white;
}

/* line 7, sass/main.scss */
h1, h2, h3, h4, h5, h6, a, a:hover {
  color: orange;
}

/* line 11, sass/main.scss */
h1, h2, h3, h4, h5, h6, .fa, #topbar a {
  text-shadow: 2px 2px 0 black;
}

/* line 15, sass/main.scss */
header h2 {
  text-align: center;
}

/* line 19, sass/main.scss */
blockquote {
  border-color: #444;
  color: #ccc;
}

/* line 24, sass/main.scss */
pre {
  background-color: #111;
  color: #ccc;
}

/* line 29, sass/main.scss */
a:hover, a:focus, a:hover i {
  background-color: transparent;
  color: white;
}

/* line 34, sass/main.scss */
a.active {
  color: chocolate;
}

/* line 38, sass/main.scss */
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* line 45, sass/main.scss */
.vertical-center * {
  display: flex;
  margin: auto;
}

/* line 50, sass/main.scss */
.loading-spinner {
  z-index: 9000;
}

/* line 54, sass/main.scss */
.container {
  border-left: 1px dotted #444;
  border-right: 1px dotted #444;
}

/* line 59, sass/main.scss */
#topbar {
  font-family: 'Arvo';
  width: 100%;
  text-align: center;
}

/* line 65, sass/main.scss */
#topbar ul {
  float: none;
  display: inline-block;
  font-size: 1em;
}

/* line 71, sass/main.scss */
#topbar ul li a {
  background-color: transparent;
}

/* line 79, sass/main.scss */
#content > footer {
  margin-top: 10em;
}

/* line 87, sass/main.scss */
.locale-switch a {
  color: orange;
  cursor: pointer;
  margin: 0.5ex;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px 0 black;
}

/* line 97, sass/main.scss */
.locale-switch a:hover, .locale-switch a.active {
  color: chocolate;
}

/* line 101, sass/main.scss */
#avatar {
  max-height: 160px;
  max-width: 160px;
}

/* line 106, sass/main.scss */
#bio p {
  text-align: justify;
  margin-top: 1em;
}

/* line 111, sass/main.scss */
#social-links {
  font-size: 3em;
  text-align: center;
}

/* line 116, sass/main.scss */
#social-links a, #social-links a:hover {
  text-decoration: none;
}

/* line 120, sass/main.scss */
.post {
  margin-bottom: 10em;
  padding: 2em;
}

/* line 125, sass/main.scss */
.post p {
  text-align: justify;
  text-indent: 1em;
}

/* line 130, sass/main.scss */
.card {
  padding: 1em;
}

/* line 138, sass/main.scss */
.card header h4 aside {
  float: right;
}

/* line 142, sass/main.scss */
.card main {
  text-align: justify;
}

/* line 146, sass/main.scss */
.card footer {
  margin-top: 1em;
}

/* line 150, sass/main.scss */
.card footer span {
  font-size: 0.8em;
  display: inline-block;
}

/* line 155, sass/main.scss */
.card footer span:first-child {
  float: left;
}

/* line 159, sass/main.scss */
.card footer span:last-child {
  float: right;
}
