<div>
  <div ng-if='!mainCtrl.isLoaded()'
       spinner>
  </div>

  <div class='container'>
    <main ng-if='mainCtrl.isLoaded()'>
      <header class='main-header'>
        <div class='row'>
          <div class='pad col-md-12 col-sm-12'>
            <div class='locale-switch'>
              <a ng-repeat='locale in mainCtrl.getAvailableLocales()'
                 ng-click='mainCtrl.setLocale(locale)'
                 ng-class='mainCtrl.getLocaleCssClass(locale)'>{{ i18n.t('locales.' + locale) }}
              </a>
            </div>

            <div class='social-links'>
              <a target='_blank' href='https://www.github.com/mbuffa'>
                <i class='fa fa-github'></i>
              </a>
              <a target='_blank' href='https://fr.linkedin.com/pub/maxime-buffa/86/39b/40a'>
                <i class='fa fa-linkedin'></i>
              </a>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-3 col-sm-12'>
            <img class='avatar img-responsive img-circle center-block'
                 src="app/images/avatar.jpg">
          </div>
          <div class='col-md-9 col-sm-12'>
            <h1>{{ i18n.t('header.title') }}</h1>
            <p>{{ i18n.t('bio.presentation') }}</p>
          </div>
        </div>

        <div class='row'>
          <ul class='nav navbar-nav'>
            <li><a href='#/'
                   ng-class="mainCtrl.getNavCssClass('/')">{{ i18n.t('topbar.home') }}</a></li>
            <li><a href='#/projects'
                   ng-class="mainCtrl.getNavCssClass('/projects')">{{ i18n.t('topbar.projects') }}</a></li>
          </ul>
        </div>
      </header>

      <div class='main-content'>
        <div ng-view></div>
      </div>

      <footer ng-if='mainCtrl.isLoaded()'
              class='main-footer'>
        <p ng-bind-html="mainCtrl.getFooterTranslation()"></p>
      </footer>
    </main>
  </div>
</div>
