body {
  background-color: #ccc;
  font-family: 'Arvo';

  & > .container {
    margin-top: 1em;
  }

  h1, h2, h3, h4, h5, h6, .fa, .main-header a {
    text-shadow: 2px 2px 0 black;
  }

  h1, h2, h3, h4, h5, h6, .fa, a {
    color: orange;
  }

  blockquote {
    border-color: #444;
    color: #ccc;
  }

  pre {
    background-color: #111;
    color: #ccc;
  }

  .vertical-center {
    background-color: none;
    color: white;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    * {
      display: flex;
      margin: auto;
    }
  }

  .loading-spinner {
    z-index: 9000;
  }
}

.main-header {
  background-color: #333;
  color: #eee;

  .pad {
    background-color: #222;
    display: block;
    min-height: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 1ex 1ex 0 black;

    &:after {
      clear: both;
    }

    .locale-switch {
      float: left;

      * {
        vertical-align: middle;
      }

      a {
        display: inline-block;
        cursor: pointer;
        margin-right: 1em;
        text-decoration: none;

        &:hover, &.active {
          color: #eee;
        }

        &.active {
          font-weight: bold;
        }
      }
    }

    .social-links {
      float: right;

      * {
        vertical-align: middle;
      }

      a {
        display: inline-block;
        margin-left: 1em;
        text-decoration: none;
      }

      a:hover i {
        color: #eee;
      }

      i {
        font-size: 2em;
      }
    }
  }

  img.avatar {
    box-shadow: -1px -1px 10px black inset;
    max-width: 200px;
    max-height: 200px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h1 {
    text-align: left;
  }

  p {
    font-size: 1.2em;
  }

  ul {
    background-color: #222;
    box-shadow: 1ex 1ex 0 black;
    width: 100%;

    li {
      a:hover, a:focus, a.active {
        color: #eee;
        background-color: transparent;
      }

      a.active {
        font-weight: bold;
        box-shadow: 0 -3px 0 #444 inset;
      }
    }
  }

  @media (max-width: 991px) {
    h1 {
      text-align: center;
    }

    ul li a {
      text-align: center;
    }

    p {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
    }
  }
}

.main-content {
  background-color: #333;
  color: #eee;
  padding: 1em;

  h2, h3, h4, h5, h6 {
    color: orange;
  }

  .post {
    font-size: 1.2em;
    padding: 2em;
    text-align: justify;

    p {
      text-indent: 1em;
    }

    @media (max-width: 991px) {
      font-size: 1em;
      padding: 0;
      text-align: center;

      p {
        text-indent: none;
      }
    }
  }

  .card {
    padding: 1em;

    header {
      h4 aside {
        float: right;
      }
    }

    main {
      text-align: justify;

      @media (max-width: 991px) {
        text-align: center;
      }
    }

    footer {
      margin-top: 1em;

      span {
        display: inline-block;
        width: 100%;

        @media (max-width: 991px) {
          text-align: center;
        }
      }
    }
  }
}

.main-footer {
  background-color: #333;
  color: #eee;

  p {
    text-align: center;
    padding: 2em;
  }
}
