body {
  font-family: 'Arvo';
  background-color: #333;
  color: white;
}

h1, h2, h3, h4, h5, h6, a, a:hover {
  color: orange;
}

h1, h2, h3, h4, h5, h6, .fa, #topbar a {
  text-shadow: 2px 2px 0 black;
}

header h2 {
  text-align: center;
}

blockquote {
  border-color: #444;
  color: #ccc;
}

pre {
  background-color: #111;
  color: #ccc;
}

a:hover, a:focus, a:hover i {
  background-color: transparent;
  color: white;
}

a.active {
  color: chocolate;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.vertical-center * {
  display: flex;
  margin: auto;
}

.loading-spinner {
  z-index: 9000;
}

.container {
  border-left: 1px dotted #444;
  border-right: 1px dotted #444;
}

#topbar {
  font-family: 'Arvo';
  width: 100%;
  text-align: center;
}

#topbar ul {
  float: none;
  display: inline-block;
  font-size: 1em;
}

#topbar ul li a {
  background-color: transparent;
}

#content {

}

#content > footer {
  margin-top: 10em;
}

.locale-switch {

}

.locale-switch a {
  color: orange;
  cursor: pointer;
  margin: 0.5ex;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px 0 black;
}

.locale-switch a:hover, .locale-switch a.active {
  color: chocolate;
}

#avatar {
  max-height: 160px;
  max-width: 160px;
}

#bio p {
  text-align: justify;
  margin-top: 1em;
}

#social-links {
  font-size: 3em;
  text-align: center;
}

#social-links a, #social-links a:hover {
  text-decoration: none;
}

.post {
  margin-bottom: 10em;
  padding: 2em;
}

.post p {
  text-align: justify;
  text-indent: 1em;
}

.card {
  padding: 1em;
}

.card header {

}

.card header h4 aside {
  float: right;
}

.card main {
  text-align: justify;
}

.card footer {
  margin-top: 1em;
}

.card footer span {
  font-size: 0.8em;
  display: inline-block;
}

.card footer span:first-child {
  float: left;
}

.card footer span:last-child {
  float: right;
}
